import 'package:flutter/material.dart';

class ${page_pascal_case}View extends StatelessWidget {
  const ${page_pascal_case}View({super.key});

  @override
  Widget build(BuildContext context) {
    return Container();
  }
}